<br>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Tipos de Libros</h1>
  </div>
</div>
<br>

<div class="container">
  <div class="row">

<div class="col-sm-12 col-md-12 col-lg-4">
  <h3 style="text-align: center;"><i><b>Fantasía</b></i></h3>
  <div class="card " style="width: 18rem;">
    <img src="../../../assets/img/libro1.JPG" class="card-img-top" alt="..." style="width: 100%; height: 100%; ">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>


<div class="col-sm-12 col-md-12 col-lg-4">
  <h3 style="text-align: center;"><i><b>Terror</b></i></h3>
    <div class="card " style="width: 18rem;">
      <img src="../../../assets/img/libro2.jpg" class="card-img-top" alt="..." style="width: 100%; height: 100%; ">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4">
      <h3 style="text-align: center;"><i><b>Aventuras</b></i></h3>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/libro3.jpg" class="card-img-top" alt="..." style="width: 100%; height: 100%; ">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      </div>
</div>
</div>

<br>


<div class="container">
  <div class="row">

<div class="col-sm-12 col-md-12 col-lg-4">
  <h3 style="text-align: center;"><i><b>Drama</b></i></h3>
  <div class="card " style="width: 18rem;">
    <img src="../../../assets/img/libro4.jpg" class="card-img-top" alt="..." style="width: 100%; height: 100%; ">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>


<div class="col-sm-12 col-md-12 col-lg-4">
  <h3 style="text-align: center;"><i><b>Literatura Universal</b></i></h3>
    <div class="card " style="width: 18rem;">
      <a href="www.youtube.com" ><img src="../../../assets/img/libro5.jpg" class="card-img-top" alt="..." style="width: 100%; height: 100%; "></a>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4">
      <h3 style="text-align: center;"><i><b>Poesía</b></i></h3>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/libro6.jfif" class="card-img-top" alt="..." style="width: 100%; height: 100%; ">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      </div>

      </div>
  </div>

