<!-- Pie de pagina -->
<footer class="text-center text-lg-start text-muted redes-sociales text-white">

  <!-- Seccion de Redes Sociales -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Izquierda (Texto) -->
    <div class="me-5 d-none d-lg-block text-white">
      <span class="centro">Conéctate con nosotras en las redes sociales:</span>
    </div>

    <!-- Derecha (Iconos redes sociales) -->

  </section>
  <!-- Fin de Seccion de Redes Sociales -->

  <!-- Seccion principal  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grilla Fila -->
      <div class="row mt-3">
        <!-- Grilla columna 1 -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Contenido -->
          <h6 class="text-uppercase fw-bold mb-4 color">
            <i class="fas fa-gem me-3 text-white"></i>BIBIOTECA
          </h6>
          <p class="color">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Temporibus, officiis maxime dignissimos iure, ab iusto illum.
          </p>
        </div>
        <!-- Fin Grilla columna 1 -->

        <!-- Grilla columna 2 -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 color">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Servicios
          </h6>
          <p>
            <a href="#!" class="text-reset text-white">Alquiler</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-white">Registro</a>
          </p>
        </div>
        <!-- Fin Grillas columnas 2 -->

        <!-- Grilla columna 3 -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-white">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Sobre nosotros
          </h6>
          <p>
            <a href="#!" class="text-reset text-white">Principal</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-white">Contactenos</a>
          </p>
        </div>
        <!-- Fin Grilla columna 3 -->

        <!-- Grilla columna 4 -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3 text-white"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3 text-white"></i>
            info@example.com
          </p>
        </div>
        <!-- Fin Grilla columnas 4 -->
      </div>
      <!-- Fin Grilla Fila -->
    </div>
  </section>
  <!-- Seccion de Copyright  -->


</footer>
<!-- Fin Pie de pagina -->
